<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../static/css/style.css" type="text/css">
  <link rel="stylesheet" href="../static/css/media.css" type="text/css">
  <link rel="stylesheet" href="../../node_modules/normalize.css/normalize.css">
  <link rel="shortcut icon" href="../static/img/pikabu.png" type="image/x-icon">

  <title>Picadu</title>

  <!-- Мой JS -->
  <script src="../js/script.js" defer></script>

</head>
<body>
  <main>

    <header>
      <div class="header-wrapper">

        <!-- Логотип -->
        <a href="index.html" class="logo">
          <img src="../static/img/logo.svg" alt="">
        </a>

        <!-- меню навигации -->
        <nav class="header-nav">
          <ul class="header-menu">
            <li class="nav-item"><a href="#">Свежее</a></li>
            <li class="nav-item"><a href="#">Лучшее</a></li>
            <li class="nav-item"><a href="#">Горячее</a></li>
            <li class="nav-item"><a href="#">Подписки</a></li>
          </ul>
        </nav>

        <!-- поиск по сайту -->
        <div class="input-group search">
          <input type="search" class="search-input" placeholder="Поиск по сайту">
          <button class="search-button">
            <img src="../static/img/search.svg" alt="">
          </button>
        </div>

        <!-- BURGER MENU -->
        <a href="#" class="menu-toggle" id="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </a>

      </div>
      <!-- /.header-wrapper -->

    </header>

    <section class="content">
      <div class="posts">
        
        </div>













      <!-- БОКОВАЯ ПАНЕЛЬ С КНОПКОЙ И РЕКЛАМОЙ -->
      <aside class="sidebar">

        <!-- ВЕРХНЯЯ ЧАСТЬ САЙДБАРА -->
        <div class="user">
          <div class="user-info">
            <a href="#" class="author-link user-link">
              <img src="../static/img/avatar.jpeg" alt="avatar" class="user-avatar author-avatar">
            </a>
            <a href="#" class="user-name">AntonMir</a>
          </div>

          <!-- ВЫКЛЮЧИТЬ ЮЗЕР -->
          <svg width="20" height="20" class="icon icon-exit">
            <use xlink:href="../static/img/icons.svg#exit"></use>
          </svg>
        </div>
        
        <!-- БОКОВОЕ МЕНЮ -->
        <div class="sidebar-nav">
          <ul class="sidebar-menu">
            <li class="sidebar-menu-item">
              <a href="#" class="sidebar-menu-link">Ответы</a>
            </li>
            <li class="sidebar-menu-item active">
              <a href="#" class="sidebar-menu-link active">Комментарии</a>
            </li>
            <li class="sidebar-menu-item">
              <a href="#" class="sidebar-menu-link">Оценки</a>
            </li>
            <li class="sidebar-menu-item">
              <a href="#" class="sidebar-menu-link">Сохраненное</a>
            </li>
            <li class="sidebar-menu-item">
              <a href="#" class="sidebar-menu-link">Подписки</a>
            </li>
            <li class="sidebar-menu-item">
              <a href="#" class="sidebar-menu-link">Заметки</a>
            </li>
            <li class="sidebar-menu-item">
              <a href="#" class="sidebar-menu-link">Игнор-лист</a>
            </li>
          </ul>
        </div>
       
        <!-- РЕКЛАМА -->
        <a href="#" class="ad"></a>

      </aside>

    </section>

  </main>

  <!-- Мой JS -->
  <!-- <script src="../js/main.js"></script> -->

</body>
</html>